*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/dummy/example_app/db/*.sqlite3
spec/dummy/example_app/log/*.log
spec/dummy/example_app/tmp/
spec/dummy/example_app/.sass-cache
spec/dummy/example_app/vendor/chili/blank_extension
spec/dummy/example_app/Gemfile
tmp
.DS_Store
