*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/example_app/db/*.sqlite3
spec/example_app/log/*.log
spec/example_app/tmp/
spec/example_app/.sass-cache
spec/dummy/app/Gemfile
spec/dummy/app/log/
spec/dummy/app/lib/
tmp
.DS_Store
.pt
