*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/dummy/main_app/db/*.sqlite3
spec/dummy/main_app/log/*.log
spec/dummy/main_app/tmp/
spec/dummy/main_app/.sass-cache
tmp
.DS_Store
