<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Chili - The spicy extension framework for Rails</title>

    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.2/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/7.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <section>

<h1>Chili<span>The spicy extension framework for Rails</span></h1>
<a href="https://github.com/balvig/chili"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="blurb">Test out new features <strong>in production</strong>, to <strong>subsets</strong> of users, <strong>without touching</strong> your main code base.</div>

<p>Have you ever wanted to test out a new feature on only a subset of users?
Did that implementation end up being lots of if/else statements embedded in the main code?
If so, Chili can help.</p>

<p>Chili is built on top of Rails Engines and Deface and allows you to conditionally add new/modify existing views, while leaving the main code untouched.</p>

<h2>Usage</h2>

<p>The easiest way to explain how Chili works is through an example. Lets say we have a simple site were people can submit posts about their travel experiences:</p>

<img src="images/app.png" alt="" />

<p>It is hard to tell which posts are interesting so we decide to test out a new social feature where users can "like" posts and see which are popular. </p>
<p>We want to first test out this feature on a set of beta testers before deciding whether to release it to everyone.<br/>One way of doing it would be something like this:</p>

<h4>app/views/posts/_post.html.erb</h4>
<pre><code>
&lt;tr&gt;
  &lt;td&gt;<%= post.title %>&lt;/td&gt;
  <% if logged_in? && current_user.beta_tester? %>
    &lt;td&gt;<%= link_to 'Like!', likes_path(like: { post_id: post }), method: 'post' %>&lt;/td&gt;
  <% end %>
&lt;/tr&gt;
</code></pre>

<p>However, adding conditionals in the code like this can quickly become unmaintainable. And what about the likes_controller? How do we make sure that only beta testers can access this?</p>
<p>Chili makes it easier to do this in a clean and unobtrusive fashion!</p>

<h3>Creating a new chili extension</h3>

<p>First add Chili to your main app's gemfile and run bundle:</p>

<pre><code class='ruby'>
gem 'chili'
</code></pre>

<p>Then generate a new extension named "social":</p>

<pre><code class='bash'>
$ rails g chili:extension social
</code></pre>

<p>This will:</p>

<ol>
<li>Create the directory <code>vendor/chili/social_extension</code> containing the basic structure for the extension</li>
<li>Add a reference to the main app gemfile:</li>
</ol>

<pre><code>
group :chili do
  gem 'social_extension', path: 'vendor/chili/social_extension'
end
</pre></code>

<p>Since the extension is mounted as a gem we restart the app:</p>

<img src="images/example.png" alt="" />

<p>The message at the top is injected into the layout by the extension and shows us that it is working.</p>

<h3>Modifying view templates in main app</h3>

<p>Chili uses <a href="https://github.com/railsdog/deface">Deface</a> overrides to dynamically modify existing view templates (see <a href="https://github.com/railsdog/deface#using-the-deface-dsl-deface-files">Deface docs</a> for details).<br/>
The message shown is an example of how this works.</p>
<p>For now, let's remove the example override and add our own. We will start out by adding a 'Like' link next to each post. Our app's <code>posts/_post</code> partial looks like this:</p>

<h4>app/views/posts/_post.html.erb</h4>
<pre><code>
&lt;tr&gt;
  &lt;td&gt;<%= post.title %>&lt;/td&gt;
&lt;/tr&gt;
</code></pre>

<p>We can modify this at runtime by adding an override to the extension, mirroring the path to the partial in the main app:</p>

<h4>vendor/chili/social_extension/app/overrides/posts/_post/like_actions.html.erb.deface</h4>
<pre><code>
&lt;!-- insert_bottom 'tr' --&gt;
&lt;td&gt;<%= link_to 'Like!', '#' %>&lt;/td&gt;
</code></pre>

<p>Deface's "magical comment" <code>&lt;!-- insert_bottom 'tr' --&gt;</code> looks for tr tags in the partial and appends the html written under the comment. Refreshing the page shows the result:</p>

<img src="images/links.png" alt="" />

<h3>Define who can see the extension</h3>

<p>By default a newly generated extension will be active for everyone. Let's change this so that only beta testers can see the links by editing the <code>active_if</code> block in <code>lib/social_extension.rb</code></p>

<h4>vendor/chili/social_extension/lib/social_extension.rb</h4>
<pre><code>
module SocialExtension
  extend Chili::Activatable
  active_if { logged_in? && current_user.beta_tester? }
end
</pre></code>

<p>Now the links will be hidden unless a user with a <code>beta_tester</code> boolean set to true logs in.<br/>

<p>The context of the <code>active_if</code> block is the <em>application controller</em> so you can use any methods available to that.<br />
You could also use something like <a href="https://github.com/jamesgolick/rollout">Rollout</a> within <code>active_if</code> for more granular control</p>

<h3>Adding new resources</h3>

<p>The links don't actually do anything yet. Let's add the controller and model code needed to make this work.</p>
<p>Navigate to the <em>extension's folder</em> and run:</p>

<pre><code class='bash'>
$ rails g scaffold Like post:references
$ rake social_extension:install:migrations
$ rake db:migrate
</code></pre>

<p>The new resource will be automatically mounted as an <a href="http://railscasts.com/episodes/277-mountable-engines?view=asciicast">isolated engine</a> in the main app at <code>/chili/social_extension/likes</code>.
Only when <code>active_if</code> is true is this URL available, otherwise it will return a 404!
</p>

<p>We can now modify the override and add the full path to the links:</p>

<h4>vendor/chili/social_extension/app/overrides/posts/_post/like_actions.html.erb.deface</h4>
<pre><code>
&lt;!-- insert_bottom 'tr' --&gt;
&lt;td&gt;<%= link_to 'Like!', social_extension.likes_path(like: { post_id: post }), method: 'post' %>&lt;/td&gt;
</code></pre>

<p>Note that since the new resource is added as an isolated engine in the main app you will have to prefix paths with the name of the extension.</p>

<h3>Modifying existing models</h3>

<p>We now have a working like button, only available to beta users, but it would be nice if we could also see how many likes each post has.</p>
<p>We will need to go through the <code>Post</code> model but we don't want to add the has_many association directly to the main code.</p>
<p>Instead we can extend the <code>Post</code> model inside the extension. From within the extension's folder run:</p>

<pre><code class='bash'>
$ rails g model Post --migration=false
</pre></code>

<p>Edit the generated file to make it inherit from the original <code>Post</code> model and add the association:</p>
<h4>vendor/chili/social_extension/app/models/social_extension/post.rb</h4>
<pre><code>
module SocialExtension
  class Post < ::Post
    has_many :likes
  end
end
</pre></code>

<p>This will now allow you to access the <code>has_many</code> association by going through the namespaced model:</p>

<h4>vendor/chili/social_extension/app/overrides/posts/_post/like_actions.html.erb.deface</h4>
<pre><code>
&lt;!-- insert_bottom 'tr' --&gt;
&lt;td&gt;<%= link_to 'Like!', social_extension.likes_path(like: { post_id: post }), method: 'post' %>&lt;/td&gt;
&lt;td&gt;<%= pluralize post.becomes(SocialExtension::Post).likes.size, 'like' %>&lt;/td&gt;
</pre></code>

<p>Now each post shows how many likes it has received:</p>

<img src="images/likes.png" alt="" />

<p>You can also add new methods to models in this way. Writing <code>becomes</code> each time may get cumbersome so in that case using <code>tap</code> can clean things up:</p>

<h4>vendor/chili/social_extension/app/overrides/posts/_post/like_actions.html.erb.deface</h4>
<pre><code>
&lt;!-- insert_bottom 'tr' --&gt;
&lt;% post.becomes(SocialExtension::Post).tap do |post| %&gt;
  &lt;td&gt;&lt;%= link_to 'Like!', social_extension.likes_path(like: { post_id: post }), method: 'post' %&gt;&lt;/td&gt;
  &lt;td&gt;&lt;%= pluralize post.likes.size, 'like' %&gt;&lt;/td&gt;
  &lt;td class='remark'&gt;&lt;%= post.well_liked? ? 'This post is well liked!' : 'This post is boring...' %&gt;&lt;/td&gt;
&lt;% end %&gt;
</pre></code>

<h3>Stylesheets/javascripts</h3>

<p>Finally let's add some styling to the extension:</p>

<h4>vendor/chili/social_extension/app/assets/stylesheets/social_extension/likes.css.scss</h4>
<pre><code>
.remark {
  font-weight:normal;
  font-style:italic;
  color:#888;
}
</pre></code>

<p>Files added to the extension's <code>app/assets/social_extension/javascripts|stylesheets</code> directory are automatically injected into the layout using a pre-generated override:</p>

<h4>vendor/chili/social_extension/app/overrides/layouts/application/assets.html.erb.deface</h4>
<pre><code>
&lt;!-- insert_bottom 'head' --&gt;
&lt;%= stylesheet_link_tag 'social_extension/application' %&gt;
&lt;%= javascript_include_tag 'social_extension/application' %&gt;
</pre></code>

<p>This gives us the final result, only visible to logged in beta users:</p>
<img src="images/final.png" alt="" />


<p>Please give Chili a try and let me know of any bugs/feature requests on <a href="https://github.com/balvig/chili">GitHub</a>!<p>

</section>
      <footer>
        <p><small><a href="https://github.com/balvig/chili">balvig/chili</a> &mdash; Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
