<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Chili by balvig</title>

    <!--link rel="stylesheet" href="stylesheets/pygment_trac.css"-->
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.2/styles/default.min.css">
    <script src="http://yandex.st/highlightjs/7.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <section>

<h1>Chili<span>The spicy extension framework for Rails</span></h1>
<p class="view"><a href="https://github.com/balvig/chili">View the Project on GitHub</a></p>

<p>Have you ever wanted to test out a new feature on only a subset of users?
Did that implementation end up being lots of if/else statements embedded in the main code?
If so, Chili can help.</p>

<p>Chili is built on top of Rails Engines and Deface and allows you to conditionally add new/modify existing views, while leaving the main code untouched.</p>

<h2>Usage</h2>

<p>The easiest way to explain how Chili works is through an example. Lets say we have a simple site were people can submit posts about their travel experiences:</p>

<img src="images/app.png" alt="" />

<p>It is hard to tell which posts are interesting so we decide to test out a new social feature where users can like certain posts and see which are popular. </p>
<p>We want to first test out this feature on a set of beta testers before deciding whether to release it to everyone.</p>
<p>One way of doing it would be something like this:</p>


<h4>posts/_post.html.erb</h4>
<pre><code>
&lt;tr&gt;
  &lt;td&gt;<%= post.title %>&lt;/td&gt;
  <% if logged_in? && current_user.beta_tester? %>
    &lt;td&gt;<%= link_to 'Like!', likes_path(like: { post_id: post }), method: 'post' %>&lt;/td&gt;
  <% end %>
&lt;/tr&gt;
</code></pre>

<p>However, adding conditionals in the code like this can quickly become unmaintainable as more features are added. Also, what about the likes_controller? How do we make sure that non-beta testers can't access this?</p>
<p>Lets try a cleaner approach using Chili</p>

<h3>Creating a new chili extension</h3>

<p>First add Chili to your main app's gemfile and run bundle:</p>

<pre><code class='ruby'>
gem 'chili'
</code></pre>

<p>Then generate a new extension named "social":</p>

<pre><code class='bash'>
$ rails g chili:extension social
</code></pre>

<p>This will:</p>

<ol>
<li>Create the directory <code>vendor/chili/social_extension</code> containing the basic structure for the extension</li>
<li>Add a reference to the main app gemfile:</li>
</ol>

<pre><code>
group :chili do
  gem 'social_extension', path: 'vendor/chili/social_extension'
end
</pre></code>

<p>Since the extension is mounted as a gem we restart the app:</p>

<img src="images/example.png" alt="" />

<p>The message at the top is injected into the layout by the extension and shows us that the extension is working!</p>

<h3>Modifying view templates in main app</h3>

<p>Chili uses Deface overrides to dynamically modify existing view templates (see <a href="https://github.com/railsdog/deface#using-the-deface-dsl-deface-files">Deface docs</a> for details).<br/>
The message shown is an example of how this works.</p>
<p>For now, let's remove the example override and add our own. We can start out by adding a disclaimer under the list of posts. Our current posts/index view looks something like this:</p>

<h4>app/views/posts/index.html.erb</h4>
<pre><code>
&lt;table id='posts'&gt;
  &lt;tr&gt;
    &lt;th&gt;Title&lt;/th&gt;
  &lt;/tr&gt;
  <%= render @posts %>
&lt;/table&gt;
</code></pre>

<p>We can modify this by adding an override to the extension, mirroring the path in the main app:</p>

<h4>vendor/chili/social_extension/app/overrides/posts/index/disclaimer.html.erb.deface</h4>
<pre><code>
&lt;!-- insert_after '#posts' --&gt;
&lt;p class='disclaimer'&gt;Like functionality is in beta&lt;/p&gt;
</code></pre>

<h3>Define who can see the extension</h3>

<p>By default a newly generated extension will be active for everyone. Let's change this so that only beta testers can see this new extension by editing the <code>active_if</code> block in <code>lib/social_extension.rb</code></p>

<h4>vendor/chili/social_extension/lib/social_extension.rb</h4>
<pre><code>
module SocialExtension
  extend Chili::Activatable
  active_if { logged_in? && current_user.beta_tester? }
end
</pre></code>

<p>The context of the active_if block is the application controller so you can use any methods available to that.</p>

<h3>Adding new resources</h3>

<p>Run <code>rails g scaffold Like</code> from within the extension's directory. The new resource will be namespaced to <code>SocialExtension::Like</code>
and automounted as an <a href="http://railscasts.com/episodes/277-mountable-engines?view=asciicast">isolated engine</a> in the main app at <code>/chili/social_extension/likes</code>,
but will only be accessible when active_if is true.</p>

<h3>Migrations</h3>

<p>Migrations are handled the same way as engines. Use the
following commands after you've added a new migration to your extension:</p>

<pre><code>$ rake social_extension:migrations:install
$ rake db:migrate
</code></pre>

<h3>Modifying existing models</h3>

<p>Create a model with the same name as the one you want to modify by running: <code>rails g model User --migration=false</code> inside your extension's directory
and edit it to inherit from the original:</p>

<div class="highlight"><pre><span class="c1"># app/models/social_extension/user.rb</span>
<span class="k">module</span> <span class="nn">SocialExtension</span>
  <span class="k">class</span> <span class="nc">User</span> <span class="o">&lt;</span> <span class="o">::</span><span class="no">User</span>
    <span class="n">has_many</span> <span class="ss">:likes</span>
  <span class="k">end</span>
<span class="k">end</span>
</pre></div>

<p>Access in your overrides/extension views through the namespaced model:</p>

<div class="highlight"><pre><span class="cp">&lt;%=</span> <span class="no">SocialExtension</span><span class="o">::</span><span class="no">User</span><span class="o">.</span><span class="n">first</span><span class="o">.</span><span class="n">likes</span> <span class="cp">%&gt;</span><span class="x"></span>
<span class="cp">&lt;%=</span> <span class="n">current_user</span><span class="o">.</span><span class="n">becomes</span><span class="p">(</span><span class="no">SocialExtension</span><span class="o">::</span><span class="no">User</span><span class="p">)</span><span class="o">.</span><span class="n">likes</span> <span class="cp">%&gt;</span><span class="x"></span>
</pre></div>

<h3>Stylesheets/javascripts</h3>

<p>Files added to the extension's <code>app/assets/social_extension/javascripts|stylesheets</code> directory are automatically injected into the layout using a pre-generated override:</p>

<div class="highlight"><pre><span class="cp">&lt;%</span> <span class="c1"># app/overrides/layouts/application/assets.html.erb.deface </span><span class="cp">%&gt;</span><span class="x"></span>
<span class="x">&lt;!-- insert_bottom 'head' --&gt;</span>
<span class="cp">&lt;%=</span> <span class="n">stylesheet_link_tag</span> <span class="s1">'social_extension/application'</span> <span class="cp">%&gt;</span><span class="x"></span>
<span class="cp">&lt;%=</span> <span class="n">javascript_include_tag</span> <span class="s1">'social_extension/application'</span> <span class="cp">%&gt;</span><span class="x"></span>
</pre></div>

<p>If you don't need any css/js in your extension, you can remove this file.</p>

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/balvig">balvig</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
