<tr>
  <td><%= post.title %></td>
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
</tr>
