body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #4CAEDD; }
a:visited { color: #4CAEDD; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

header {
  background:#DDD;
  padding:8px 6px;
}

header form, header form div {
  display: inline;
}

table {
  border:1px solid #CCC;
  border-radius:4px;
}

th {
  text-align:left;
  border-bottom:3px double #CCC;
}

th, td {
  padding:0.8em 1.1em;
  font-size: 1.1em;
}

.remark {
  font-weight:normal;
  font-style:italic;
  color:#888;
}

.disclaimer {
  background: #FFFF8B;
  padding: 9px;
  display: inline-block;
}
